<!DOCTYPE html>
<html data-ng-app="gemStore">
<head>
  <meta charset="UTF-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="resources/style.css"/>
  <!-- TODO{Gleb Panteleyev}: Download libs -->
  <link rel="stylesheet" type="text/css" href="resources/bootstrap.min.css"/>
  <script type="text/javascript" src="resources/angular.min.js"></script>
  <script type="text/javascript" src="resources/app.js"></script>
</head>

<body data-ng-controller="StoreController as store">
<!--  Store Header  -->
<header>
  <h1 class="text-center">Flatlander Crafted Gems</h1>
  <h2 class="text-center">– an Angular store –</h2>
</header>

<!--  Products Container  -->
<div class="list-group">
  <!--  Product Container  -->
  <div class="list-group-item" data-ng-repeat="product in store.products">
    <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

    <!-- Image Gallery  -->
    <div data-ng-controller="GalleryController as gallery" data-ng-show="product.images.length">
      <div class="img-wrap">
        <img data-ng-src="{{product.images[gallery.current]}}"/>
      </div>
      <ul class="img-thumbnails clearfix">
        <li class="small-image pull-left thumbnail" data-ng-repeat="image in product.images">
          <img data-ng-src="{{image}}"/>
        </li>
      </ul>
    </div>

    <!-- Product Tabs  -->
    <section data-ng-controller="TabController as tab">
      <ul class="nav nav-pills">
        <li data-ng-class="{ active:tab.isSet(1) }">
          <a href data-ng-click="tab.setTab(1)">Description</a>
        </li>
        <li data-ng-class="{ active:tab.isSet(2) }">
          <a href data-ng-click="tab.setTab(2)">Specs</a>
        </li>
        <li data-ng-class="{ active:tab.isSet(3) }">
          <a href data-ng-click="tab.setTab(3)">Reviews</a>
        </li>
      </ul>

      <!--  Description Tab's Content  -->
      <product-description data-ng-show="tab.isSet(1)"></product-description>

      <!--  Spec Tab's Content  -->
      <div data-ng-show="tab.isSet(2)">
        <h4>Specs</h4>
        <ul class="list-unstyled">
          <li>
            <strong>Shine</strong>
            : {{product.shine}}
          </li>
          <li>
            <strong>Faces</strong>
            : {{product.faces}}
          </li>
          <li>
            <strong>Rarity</strong>
            : {{product.rarity}}
          </li>
          <li>
            <strong>Color</strong>
            : {{product.color}}
          </li>
        </ul>
      </div>

      <!--  Review Tab's Content  -->
      <div data-ng-show="tab.isSet(3)">
        <!--  Product Reviews List -->
        <ul>
          <h4>Reviews</h4>
          <li data-ng-repeat="review in product.reviews">
            <blockquote>
              <strong>{{review.stars}} Stars</strong>
              {{review.body}}
              <cite class="clearfix">—{{review.author}}</cite>
            </blockquote>
          </li>
        </ul>

        <!--  Review Form -->
        <form name="reviewForm" data-ng-controller="ReviewController as reviewCtrl"
              data-ng-submit="reviewCtrl.addReview(product)">

          <!--  Live Preview -->
          <blockquote>
            <strong>{{reviewCtrl.review.stars}} Stars</strong>
            {{reviewCtrl.review.body}}
            <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
          </blockquote>

          <!--  Review Form -->
          <h4>Submit a Review</h4>
          <fieldset class="form-group">
            <select data-ng-model="reviewCtrl.review.stars" class="form-control"
                    data-ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
              <option value>Rate the Product</option>
            </select>
          </fieldset>
          <fieldset class="form-group">
            <textarea data-ng-model="reviewCtrl.review.body" class="form-control"
                      placeholder="Write a short review of the product..." title="Review"></textarea>
          </fieldset>
          <fieldset class="form-group">
            <input data-ng-model="reviewCtrl.review.author" type="email" class="form-control"
                   placeholder="jimmyDean@example.org" title="Email"/>
          </fieldset>
          <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit Review"/>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</div>
</body>
</html>
