body, html {
  margin: 0;
}

.gallery {
  border: 0;
  text-align: center;
}

.img-wrap {
  text-align: center;
}

.img-thumbnails {
  margin: 0 auto 10px;
  width: 200px;
  border: 0;
}

.small-image {
  width: 50px;
}

.pull-left {
  float: left !important;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}